**/build/
**/.vscode/
.venv
**/__pycache__/
smallvoice/
remote_server_access.txt
mount_smallvoice.sh
azure_mariadb_terminal.txt
db/db.db
db/db.db-journal
models/connect4/*
models/breakthrough/*
db/db.bak
*.bak
cpp_src/play_agent
py_src/7x6.book
cpp_src/simulation/simulation.cpp
saved_runs/
logs/
vault/*/*/models
vault/*/*/cached_data
vault/*/*/db.db
vault/*/*/*.csv
vault/*/*/training_data/
vault/*/*.7z
vault/*/test*
