**/build/
**/.vscode/
.venv
**/__pycache__/
smallvoice/
remote_server_access.txt
mount_smallvoice.sh
azure_mariadb_terminal.txt
db/db.db
db/db.db-journal
models/connect4/*
models/breakthrough/*
local_train_cycle.py
db/db.bak
*.bak
cpp_src/play_agent
